.dashboard {
    margin: 0px auto;
    padding: 5px;
}

.dashboard h3 {
}

.dashboard_future, .dashboard_comments, .dashboard_draft, .dashboard_comments_pending {
}

.dashboard_start {
    clear: both;
}

#notifier {
    padding: 10px;
    background-color: red;
}
