/* serendipity_event_linklist.css start */

div.linklist span.menu_title {
}

div.linklist {
    padding: 0px;
    margin: 0px;
    text-align: left;
    font-size: 11px;
    color: #666;
    white-space: nowrap;
    direction: ltr;
}
div.linklist ul.csslist {
    list-style: none;
    margin: 0px;
    padding: 0px;
    text-align: left;
    white-space: nowrap;
}
div.linklist ul.simple {
    margin: 0px;
    padding: 0 0 5% 10%;
    text-align: left;
    white-space: nowrap;
}

div.linklist li {
    margin: 0px;
    padding: 0px;
    white-space: nowrap;
    font-family: Arial, Helvetica, sans-serif;
    white-space: nowrap;
}

div.linklist img {
    border: 0px;
    vertical-align: middle;
}
div.linklist .svg {
    background-position: right center;
    background-repeat: no-repeat;
    background-image: linear-gradient(transparent, transparent), url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2210%22%20height%3D%2210%22%3E%3Cg%20transform%3D%22translate%28-826.429%20-698.791%29%22%3E%3Crect%20width%3D%225.982%22%20height%3D%225.982%22%20x%3D%22826.929%22%20y%3D%22702.309%22%20fill%3D%22%23fff%22%20stroke%3D%22%23000%22%2F%3E%3Cg%3E%3Cpath%20d%3D%22M831.194%20698.791h5.234v5.391l-1.571%201.545-1.31-1.31-2.725%202.725-2.689-2.689%202.808-2.808-1.311-1.311z%22%20fill%3D%22%23999%22%2F%3E%3Cpath%20d%3D%22M835.424%20699.795l.022%204.885-1.817-1.817-2.881%202.881-1.228-1.228%202.881-2.881-1.851-1.851z%22%20fill%3D%22%23fff%22%2F%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E");
    padding-right: 13px;
    margin-right: 3px;
    height: 1em;
    width: 1em;
}

div.linklist a.folder {
    text-decoration: none;
}
div.linklist a.link {
    text-decoration: underline;
}
div.linklist a:hover {
    color: #333;
}

/* serendipity_event_linklist.css end */

