.templateEditorListItem {
    display: inline-block;
    padding: .5em;
}

.templateEditorForm {
    margin: .75em 0;
}

#template_editor {
    font-size: 1em;
    width: 100%;
}

.CodeMirror-line-numbers {
    font-size: 1em;
}

.templateEditorHighlight {
    background: rgba(72, 122, 202, .2);
    border: 1px solid grey;
}

@media only screen and (min-width: 768px) {
     .templateEditorForm {
         box-sizing: border-box;
         float: left;
         margin: 0;
         padding: 0 1em 0 0;
         width: 50%;
     }

     #startEditorUpload {
         position: relative;
         top: 2.25em;
     }
}