#serendipityStaticpagesNav {
    list-style:none;
    margin-left: 0;
    padding: 0;
}

#serendipityStaticpagesNav li {
    display: block;
    margin: 0 0 .3125em
}

#serendipityStaticpagesNav li:last-child {
    margin: 0;
}

.staticpage_title {
    position: relative;
    top: 6px;
}

.button_placeholder {
    display: inline-block;
    min-width: 32px;
}

.serendipityStaticpagesRed {
    color: #b94a48;
}

.serendipityStaticpagesYellow {
    color: #c09853;
}

.serendipityStaticpagesGreen {
    color: #468847;
}

#serendipityStaticpagesTable {
    border-top: 1px solid #aaa;
    width: 100%;
}

#serendipityStaticpagesTable tr {
    border-bottom: 1px solid #aaa;
}

#serendipityStaticpagesTable th,
#serendipityStaticpagesTable td {
    box-sizing: border-box;
    padding: .25em .4em;
}

#serendipityStaticpagesTable thead {
    background-color: #ccc;
}

#serendipityStaticpagesTable .odd {
    background-color: #eee;
}

#serendipityStaticpagesTable .even {
    background-color: #fff;
}

.sp_pageselector {
    background: #eee;
    border: 1px solid #aaa;
    box-sizing: border-box;
    padding: .5em;
}

.sp_pageselector label {
    display: block;
}

.sp_pageselector select {
    width: 100%;
}

.sp_pageselector .msg_notice {
    clear: both;
    margin: .5em 0 0;
}

.sp_pagetype {
    border-top: 1px solid #aaa;
    border-left: 1px solid #aaa;
}

.sp_pagetype tr {
    border-bottom: 1px solid #aaa;
}

.sp_pagetype td {
    padding: .25em .5em;
    border-right: 1px solid #aaa;
}

.sp_pagetype strong,
.sp_pagetype span {
    display: block;
}

#staticpages_list h4 {
    float: left;
    font-size: 1em;
    margin: .75em 0 0;
}

#staticpages_list .actions {
    float: right;
    margin: .75em 0 0;
}

#staticpages_list .entry_info > span {
    display: inline-block;
    margin: 0 1em .75em 0;
}

.staticpage_simple h4,
.staticpage_simple h5 {
    margin: .75em 0;
}

.staticpage_simple label {
    font-weight: bold;
}

.staticpage_simple .form_field input,
.staticpage_simple .form_select select {
    width: 100%;
}

.staticpage_simple #tools_content,
.staticpage_simple #tools_pre_content {
    display: block;
    margin: .375em 0;
}

.staticpage_simple #tools_pre_content input,
.staticpage_simple #tools_content input {
    width: auto;
}

.staticpage_section {
    border: 1px solid #aaa;
    box-sizing: border-box;
    padding: .5em 1em;
    margin-bottom: 1em;
}

.staticpage_section h4 {
    background: #ddd;
    background-image: -webkit-linear-gradient(#fff, #ddd);
    background-image: linear-gradient(#fff, #ddd);
    border-bottom: 1px solid #aaa;
    color: #666;
    font-size: 1em;
    margin: -.5em -1em .75em;
    padding: .5em 1em;
}

@media only screen and (min-width: 768px) {
    #serendipityStaticpagesNav li {
        display:inline-block;
        margin: 0 .3125em 0 0;
    }

    #serendipityStaticpagesNav li:last-child {
        margin: 0;
    }

    .sp_pageselector > .form_select,
    .sp_pageselector .sp_buttons {
        box-sizing: border-box;
        float: left;
        margin-top: 0;
        padding-right: 1em;
        width: 33%;
    }

    .sp_buttons {
        padding-top: 1px;
    }

    .sp_pagetype_select {
        float: left;
        margin: 0 1em .75em 0 !important;
        max-width: 30em;
    }

    .no-flexbox .staticpage_structure,
    .no-flexbox .staticpage_access,
    .no-flexbox .staticpage_meta,
    .no-flexbox .staticpage_options {
        box-sizing: border-box;
        float: left;
        width: 50%;
    }

    .no-flexbox .staticpage_structure,
    .no-flexbox .staticpage_meta {
        padding-right: .5em;
    }

    .no-flexbox .staticpage_access,
    .no-flexbox .staticpage_options {
        padding-left: .5em;
    }

    .no-flexbox .staticpage_save {
        clear: both;
    }

    .staticpage_container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .staticpage_section {
        flex: 0 0 auto;
        margin: 0 2% 1em 0;
        width: 48%;
    }

    .staticpage_section:nth-of-type(even) {
        margin: 0 0 1em 2%;
    }
}