/*
  CKEDITOR Toolbar tweak to show again a previous hidden set cke-image widget button.
  SERENDIPITY CKE PLUGIN option: disable CKE ImageButton set to NO.
*/
/* reset hidden image button to origin values */
#cke_1_top .cke_toolgroup a.cke_button__image,
#cke_2_top .cke_toolgroup a.cke_button__image {
    display: inline-block !important;
    visibility: visible;
    height: 18px !important;
    padding: 4px 6px !important;
    border-radius: 2px 0px 0px 2px !important;
}
/* reset hidden next sibling separator */
#cke_1_top .cke_toolgroup a.cke_button__image~.cke_toolbar_separator,
#cke_2_top .cke_toolgroup a.cke_button__image~.cke_toolbar_separator {
    display: initial;
    visibility: initial;
    margin: initial;
    height: initial;
    width: initial;
}