
/************************************************************************************/
/* style_eventcal.css for serendipity_eventcal_cal.php v.1.75 2016-01-10 Ian        */
/************************************************************************************/

/*****************************************/
/* THEME resets and articleformat rules  */
/* You may overwrite this by a user.css, */
/* or a template copy of this file       */
/*****************************************/

/* 2k11 theme conflict settings */
@media only screen and (min-width: 1167px) {
    .col2r #content {
        min-width: 47.6em;
    }
    .col2r #searchform, .col2r #sidebar_left, .col2r #sidebar_right {
        width: auto;
        max-width: 32%;
    }
}
/* Not greater than 1166px, not less than 768px */
@media (min-width: 768px) and (max-width: 1166px) {
    .col2r #content {
        width: auto;
        max-width: 100%;
    }
    .col2r #searchform, .col2r #sidebar_left, .col2r #sidebar_right {
        min-width: 98%;
    }
}
.serendipity_Entry_Date h3 {
    margin: 0px 0.8em 0.6em;
}
.serendipity_Entry_Date h4 {
    margin: 0px 1em 0.8em;
}
.serendipity_entry, .freetag_cloud {
    margin: 0px 0px 3em 1em;
}

table {
    border-collapse: separate;
    border-spacing: 1px;
}
.serendipity_entry table {
    border: inherit;
    margin: 0;
}
.serendipity_entry tbody td {
    padding: inherit;
}
.serendipity_entry th,
.serendipity_entry tfoot td { padding: .125em 1em; }

.serendipity_entry tbody td { padding: .1875em .5em; }

.serendipity_entry thead,
.serendipity_entry tfoot { background: inherit; }

.serendipity_entry thead { border-bottom: inherit; }
.serendipity_entry tfoot { border-top: inherit; }

.serendipity_entry tbody tr:nth-child(odd) { background: inherit; }
.serendipity_entry tbody tr:nth-child(even) { background: inherit; }

/* Next theme w/o articleformat */
#primary #eventcal_wrapper {
    margin-top: 3em
}
#primary .serendipity_Entry_Date h3 {
    margin: 1rem 0.8rem;
}

/* Bulletproof theme */
div#content.threemain .serendipity_entry,
div#content.twomain .serendipity_entry {
    margin: 0px;
}
div#content.threemain #eventcal_wrapper,
div#content.twomain #eventcal_wrapper {
    margin-top: 1em;
}

/* Sliver theme */
#section_hookPlugin_entries .serendipity_Entry_Date {
    margin: 1em 0;
}
#section_hookPlugin_entries > #eventcal_wrapper {
    margin: 1.5em 0;
}

/*************************************/
/* Eventcal Plugin wrappers and tags */
/*************************************/

#eventcal_wrapper {
    margin: 0px 0.8em;
    padding: 0;
    font: 500 11px/16px Verdana,Arial,Helvetica,sans-serif;
    max-width: 80em; /* 880px */
    min-width: 54em; /* 594px */
}
.serendipity_entry_body #eventcal_wrapper {
    margin: 0px;
}
br.clear { clear: both; }

#eventcal_wrapper div.eventcal_intro {
    padding: 4px;
    background-color: #D5BFC0;/* todays color; #C0C0FF weekly color; #FF7400 orange color */
    /* mozilla, chrome, safari, ie7+, (opera?) round corners */
    border-color: hsl(360,100%,35%);
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -khtml-border-radius: 8px;
    border: 1px solid hsl(360,100%,35%);
    text-align:justify;
}

/**********************************/
/* Messages and Debug information */
/**********************************/

#eventcal_error_surrounder {
    padding: 4px;
    background-color:#999;
    border: 1px solid #333;
}
.error_brand {
    background-color: #000;
    color: #FF3000;
    font-weight: 600;
}
.error_table_main th {
    color: #f0f0f0;
}
.error_value {
    background-color: #FFFF00;
}

.eventcal_tpl_error {
    font-weight: 600;
    padding: 0;
    margin-bottom: 1.5em;
}
.eventcal_tpl_message {
    border: 1px solid #6280A2;
    background-color: #C6C6DE;
    margin-bottom: 1.5em;
    padding: 6px;
}

.eventcal_tpl_error_inner {
    background: #f2dede;
    border: 1px solid #e4b9b9;
    color: #b94a48;
    margin-top: 1.5em;
    padding: 6px;
    width: auto;
}
.serendipity_msg_notice {
    background: #fcf8e3;
    border: 1px solid #fbeed5;
    color: #c09853;
}
.serendipity_msg_hint {
    background: #eee;
    border: 1px solid #aaa;
    color: #777;
}
.eventcal_tpl_message_inner {
    width: auto;
    border: 1px solid #6280A2;
    background-color: #A29D8C; /* Violet */
    color: #F5DEB3; /* Wheat */
    padding: 6px;
}

/*******************************/
/* eventcal TABLE classes
/*******************************/

table.questionaire {
    width: auto;
    padding: 2px;
    color: #333;
    border: 1px solid #6280A2;
    border-collapse: separate; /*no cellspacing: collapse;*/
    border-spacing: 3px 1px;
    background-color: #C6C6DE;
}
table.eventborder {
    margin: auto;
    padding: 0;
    border: 1px solid #999;
    background: #d0d0d0;
    width: 100%;
    /*min-width:770px !important;*/
}
.serendipity_entry table.eventcal_monthbutton,
table.eventcal_monthbutton {
    padding: 0;
    margin: 0;
    width: 100%;
    background: #d0d0d0;
    border: 0 none;
    border-collapse: collapse;
    border-spacing: 0;
}
table.eventcal_monthbutton td.left { width: 34%; vertical-align: bottom; }
table.eventcal_monthbutton td.mid { width: 32%; vertical-align: bottom; }
table.eventcal_monthbutton td.right { width: 34%; vertical-align: bottom; }

table.innereventborder {
    padding: 0;
    margin: 0;
    width: 100%;
    background: #333;
    border: 0;
    border-collapse: separate; /*no cellspacing: collapse;*/
    border-spacing: 1px 1px;
    /*empty-cells: hide;*/
}
table.innereventborder td.eventcal_weekly_eventlabel { width:2%; background-color: #555; text-align:center; color: #FF7400; }
table.innereventborder td.eventcal_weekly_eventtitle { width:45%; }
table.innereventborder td.eventcal_weekly_eventical { width:15%; text-align:center; font-weight:700; }
table.innereventborder td.eventcal_weekly_eventical img { border:1px solid #D5BFC0; }
table.innereventborder td.eventcal_weekly_eventdate { width:30%; text-align:center; font-size: xx-small; }
table.innereventborder td.eventcal_weekly_eventappby { width:8%; text-align:center; }
table.innereventborder td.eventcal_weekly_eventtext { width:98%; padding: 4px; }
table.innereventborder td.eventcal_weekly_eventtext div.eventcal_weekly_eventurl { float:right;padding:1px 3px;border:1px dashed #333;background-color:#FF7400; }

/* colors of day in monthview */
.serendipity_entry table.eventcal_today,
table.eventcal_today {
    width: 100%;
    background: #D5BFC0;
    border: 0 none;
    border-collapse: collapse;
    border-spacing: 0;
}
td.eventcal_today {
    background: #D5BFC0; /* make sure the full cell has the same color */
}
.serendipity_entry table.eventcal_isday,
table.eventcal_isday {
    width: 100%;
    background: #f0f0f0;
    border: 0 none;
    border-collapse: collapse;
    border-spacing: 0;
}
.serendipity_entry table.eventcal_noday,
table.eventcal_noday {
    width: 100%;
    background: #d0d0d0;
    border: 0 none;
    border-collapse: collapse;
    border-spacing: 0;
}
td.eventcal_noday {
    background: #d0d0d0; /* make sure the full cell has the same color */
}
table.eventcal_isday tr,
table.eventcal_today tr,
table.eventcal_noday tr {
    height: 1px;
}
table.eventcal_weeknav {
    width: 100%;
    border: 1px solid #333;
}
table.eventcal_weeknav_top {
    border-bottom: 0;
}
table.eventcal_weeknav_bottom {
    border-top: 0;
}
/* be sure to have Weekday headers be near width 100% */
th.eventcal_weekhead {
    font: 500 11px/16px Verdana,Arial,Helvetica,sans-serif;
    width: 10.8em; /* 14.2% */
}
tr.d0 {
    background-color: #d0d0d0;
}
tr.e1 {
    background-color: #e1e5de;
}
tr.f0 {
    background-color: #f0f0f0;
}
tr.ff {
    background-color: #fff;
}
tr.a0, th.a0 {
    background-color: #a0a0a0;
}
td.weekcw {
    width: 2%;
}
.serendipity_entry table.eventcal_helptips,
table.eventcal_helptips {
    width: 100%;
    border: 0 none;
    border-collapse: collapse;
    border-spacing: 0;
}

/****************************************/
/* eventcal single entry table settings */
/****************************************/

table.eventtext_entry {
    width: 100%;
    border-collapse: separate; /* no cellspacing: collapse; */
    border-spacing: 2px;
    font-size: 10px;
}
table.eventtext_entry tr {
    background-color: #a0a0a0;
}
table.eventtext_entry th {
    /* single entry shorttitle, date, app_by */
    border: 1px solid navy;
    text-align: left;
    font: 500 9.5px verdana, arial, geneva, helvetica, sans-serif;
    background: #aaa;
    color: navy;
    padding: 0 1px;
}
table.eventtext_entry td.entry {
    background-color: #FDFDFD;
    border: 1px solid navy;
    width: 78%;
    padding: .25em;
}
table.eventtext_entry th.eventcal_links { height: 2em; }
table.eventtext_entry th.center { clear: both; text-align:center; }
table.eventtext_entry th.eventcal_links img { border:1px solid #D5BFC0; }

.eventcal_links form input[type="image"] {
    vertical-align: middle;
}
.eventcal_links form sup {
    top: 0;
}

/********************************/
/* eventcal form table settings */
/********************************/

#eventcalEntry {
    background: #f0f0f0;
}
table.eventcal_form {
    width: 100%;
    border-collapse: separate; /* no cellspacing: collapse; */
    border-spacing: 1px 0;
    padding: 0.1875em;
}
table.eventcal_form tbody {
    -webkit-box-shadow: 0 2px 3px 0 #666;
    -moz-box-shadow: 0 2px 3px 0 #666;
    -o-box-shadow: 0 2px 3px 0 #666;
    box-shadow: 0 2px 3px 0 #666;
    border-radius: 0.1em;
}
th.eventformtitle {
    font: 600 11.5px verdana, arial, geneva, helvetica, sans-serif;
    text-align: left;
    background: #cbcbcb;
}
.serendipity_entry tbody td.eventformdesc,
td.eventformdesc {
    font: 500 11px verdana, arial, geneva, helvetica, sans-serif;
    text-align: left;
    background-color: #e0e0e0; /* form gray */
}
table.eventcal_form tbody td {
    padding: 0.1875em 0.5em;
}
.serendipity_entry tbody .eventformdesc.addform_areainfo {
    padding: 3em .5em;
}
.addform_areainfo {
    vertical-align: middle;
}
.formfield textarea {
    width: 98%;
    overflow: auto; /* in html wrap=virtual is not XHTML */
    width: 300px;
}
td.eventformdesc input {
    background-color: #fff;
}
td.eventformdesc input[type="text"] {
    margin-right: .5em;
}
td.eventformdesc input[type="checkbox"],
td.eventformdesc input[type="radio"] {
    box-sizing: border-box;
    background-color: #ddd;
    margin-right: .2em;
    padding: 0;
    vertical-align: sub;
}
td.eventformdesc input.info::before,
td.eventformdesc .icon-info-circled::before{
    content: "?";
    background-color: #f6f6f6;
    background-image: -moz-radial-gradient(55% 50%, ellipse farthest-corner, #367e98, rgba(247, 255, 224, 0.5) 50%);
    background-image: -webkit-radial-gradient(55% 50%, ellipse farthest-corner, #367e98, rgba(247, 255, 224, 0.5) 50%);
    background-image: -o-radial-gradient(55% 50%, ellipse farthest-corner, #367e98, rgba(247, 255, 224, 0.5) 50%);
    background-image: -ms-radial-gradient(55% 50%, ellipse farthest-corner, #367e98, rgba(247, 255, 224, 0.5) 50%);
    background-image: radial-gradient(55% 50%, ellipse farthest-corner, #367e98, rgba(247, 255, 224, 0.5) 50%) rgba(199, 238, 252, 0.60);
    border-radius: 0.8125em;
    padding: 0.1825em 6px;
    -webkit-box-shadow: 0 0 2px 1px rgba(41, 69, 100, 0.5);
    -moz-box-shadow: 0 0 2px 1px rgba(41, 69, 100, 0.5);
    -o-box-shadow: 0 0 2px 1px rgba(41, 69, 100, 0.5);
    box-shadow: 0 0 2px 1px rgba(41, 69, 100, 0.5);
    outline: 0 none;
    border-spacing: 0;
    cursor: help;
    vertical-align: middle;
}
#eventcal_wrapper .eventformdesc abbr[title] {
    border-bottom: 0 none;
    text-decoration: none;
    vertical-align: middle;
}
td.eventformdesc sub,
td.eventformdesc sup {
    font-size: 100%;
    bottom:0;
}
td.eventformlink {
    white-space:nowrap;
}
td.formfield  {
    margin:auto;
}

/***********************************/
/* eventcal appform table settings */
/***********************************/

table.eventcal_appform {
    width: 100%;
    border: 1px solid #999;
    border-collapse: separate; /* no cellspacing: collapse; */
    border-spacing: 0 2px;
}

table.eventcal_appform tbody tr.f0:nth-child(odd) { background: #f0f0f0; }
table.eventcal_appform tbody tr.f0:nth-child(even) { background: #ccc; }

th.eventcal_appform_title_lft {
    padding-left: .5em;
    text-align: left;
}
th.eventcal_appform_title_rgt {
    padding-right: 1em;
    text-align: right;
}
td.eventcal_appform_validation {
    text-align: left;
    border-top: 1px solid #ff8040;
    vertical-align: top;
    white-space: nowrap;
    padding: .1875em .5em;
    width: auto;
}
td.eventcal_appform_validation input[type="checkbox"] {
    margin: 0;
    vertical-align: bottom;
}
td.eventcal_appform_validation_last input[type="checkbox"] {
    box-sizing: border-box;
    margin: .1875em auto;
    vertical-align: top;
    margin-right: 1em;
}
td.eventcal_appdate {
    white-space: normal;
    width: 16.4%;
}
td.eventcal_appldesc {
    width: 100%;
}
input.eventcal_appform_move,
img.eventcal_appform_move {
    padding-right: initial;
}

/*******************************/
/* eventcal innertable styles  */
/*******************************/
#eventcal_wrapper .entryadmin {
    font-weight: bold;
    text-shadow: 0px 2px 3px #555;
    color: #222;
    vertical-align: top; /* depends on th.eventtext */
}
#eventcal_wrapper .entryadmin span {
    padding: 0 0 0 3px;
    border: 1px solid #ccc;
    background-color: #eee;
    -webkit-box-shadow: 0 2px 3px 0 #666;
    -moz-box-shadow: 0 2px 3px 0 #666;
    -o-box-shadow: 0 2px 3px 0 #666;
    box-shadow: 0 2px 3px 0 #666;
    display: inline-block;
    width: 6em;
    height: 1.6em;
    white-space: nowrap;
}
#eventcal_wrapper .entryadmin span.left {
    float: left;
}
#eventcal_wrapper .entryadmin span.right {
    float: right;
}
#eventcal_wrapper .entryadmin input {
    background-color: #FFABAB;
    padding: 0;
}
.eventcal_todaycell {
    color: #DF0000; /* div today */
    font-size: 10px;
    font-weight: bold;
}
.eventcal_lft {
    text-align: left;
    vertical-align: top;
}
.eventcal_rgt {
    text-align: right;
    vertical-align: top;
}
.serendipity_commentDirection {
    text-align: justify;
}
.captcha {
    border: 1px solid #777;
}
.eventcal_msg {
    text-align: center;
    padding: 10px;
    border: 1px solid #999;
    background-color: #F0F0F0;
}
.eventcal_bg {
    padding: 6px;
    border: 1px solid #333;
    background: #bababa;
}
.eventcal_button {
    background-color: #d0d0d0;
    border: 1px solid #bbb;
}
.eventcal_button  img {
    vertical-align: middle;
}
.eventcal_day {
    margin: 0;
    padding: 2px;
    text-align: center;
    background-color: #f0f0f0;
    border: 0 none;
}
.eventcal_week_cw {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #a0a0a0;
    color: #f0f0f0;
    font: x-small arial, helvetica, sans-serif;
}
.eventcal_weeknav  {
    width: 42%;
    vertical-align: bottom; /*depends on eventcal_lft/rgt which sets to top*/
}
.eventcal_weekly_title {
    font-weight: 600;
    text-align: center;
}
.eventcal_weekly_eventtext,
.eventcal_weekly_daytitel {
    background: #F0F0F0;
    text-align: left;
    width: 100%;
}
.eventcal_weekly_eventtitle,
.eventcal_weekly_eventical,
.eventcal_weekly_eventappby {
    background: #D5D5D5;
}

.eventcal_input {
    font: 500 11px verdana,arial,helvetica,sans-serif;
    border: 1px solid #333;
    text-align: left;
    padding: 2px;
    background-color: #bbb;
}
.eventcal_made {
    padding: 10px;
    border: 1px solid #999;
    background-color: #F0F0F0;
}
.eventcal_tab {
    text-align: center;
    font: 700 10.0px arial, helvetica, sans-serif;
    text-decoration: none;
    vertical-align: middle;
}
#eventcal_wrapper .eventformdesc .eventcal_tab {
    vertical-align: initial;
}
.eventcal_tab_dim {
    color: #888;
    font-weight: 500;
    font: x-small arial, helvetica, sans-serif;
    vertical-align: bottom;
}


/************************************************************************************/
/* set td, span classes for single, multi, recur monthly and recuring weekly events */
/************************************************************************************/

.eventcal_helptip {
    width: 25%;
}
.eventcal_ical a, .eventcal_ical img {
    text-decoration: none;
    border: 0 none;
}
/* the calendar event color buttons */
.mono {
    background-color: #FFFFC0;
}
.multi {
    background-color: #C8E4C8;/*#C0FFC0;*/
}
.recm {
    background-color: #F3DBF3;
}
.recw {
    background-color: #C0C0FF;
}
span.eventtype {
    font: x-small arial, helvetica, sans-serif;
    text-align: center;
    border: 1px solid #808080;border-width: 0 0 1px 0;
}
/* the help color buttons at bottom */
span.mono,
span.multi,
span.recm,
span.recw {
    display: block;
    float: left;
    width: 100%;
    white-space: nowrap;
}
span.tip {
    font: xx-small arial, helvetica, sans-serif;
    text-align: center;
    border: 1px solid #000080;
}
/* obfuscating spamblock markup and emoticate text */
.serendipity_comment_s9ymarkup {
    display: none;
    visibility: hidden;
}
.serendipity_comment_emoticate {
    display: none;
    visibility: hidden;
}
/* obfuscating spamblock captcha completly */
/*
.serendipity_comment_spamblock {
    display: none;
    visibility: hidden;
}
*/
.serendipitySideBarContent .eventcal_monthly_events li time {
    vertical-align: middle;
}
.serendipitySideBarContent .eventcal_monthly_events .plainList {
    list-style: outside none none;
    margin-left: 0px;
    padding-left: 0px;
}


/**************************/
/* link & button settings */
/**************************/

a.small_eventcal_link:link {
    color: #0000df;
    text-decoration: none;
    font: xx-small arial, helvetica, sans-serif;
}
a.small_eventcal_link:visited {
    color: #606060;
    text-decoration: none;
    font: xx-small arial, helvetica, sans-serif;
}
a.small_eventcal_link:hover {
    color: #e00060;
    text-decoration: none;
    font: xx-small arial, helvetica, sans-serif;
}
a.small_eventcal_link:active {
    color: #af00ff;
    text-decoration: underline;
    font: xx-small arial, helvetica, sans-serif;
}
a.small_eventcal_link:focus {
    color: #00e000;
    text-decoration: underline;
    font: xx-small arial, helvetica, sans-serif;
}

#eventcal_wrapper td.eventformbutton input {
    background: url('{TEMPLATE_PATH}img/button_background.png') repeat scroll 0 50% #80B0DA;
    font-weight: 700;
}
/* Special class if the button is <a> tag */
#eventcal_wrapper a.serendipityPrettyButton {
    padding: 2px 4px 2px 4px;
    cursor: pointer;
    background:url("{TEMPLATE_PATH}img/button_background.png") repeat scroll 0 50% transparent;
}
#eventcal_wrapper a:link.serendipityPrettyButton,
#eventcal_wrapper a:visited.serendipityPrettyButton,
#eventcal_wrapper a:hover.serendipityPrettyButton {
    text-decoration: none;
    color: #1D2E3F;
}

#eventcal_wrapper .serendipityPrettyButton {
    padding: 1px;
    color: #1D2E3F;
    font-weight: bold;
    font-size: 0.9em;
    border: 1px outset #000;
    margin: 2px;
}

#eventcal_wrapper input.serendipityPrettyButton {
    background: url('{TEMPLATE_PATH}img/button_background.png') repeat scroll 0 50% #80B0DA;
}

#eventcal_wrapper input.info { clear: both; font-style: italic; font-size: 8px; height: 12px; width: 12px; vertical-align: bottom;}
#eventcal_wrapper input.bbc_i { margin: 2px 2px 0; padding: 2px; font-style: italic; font-size: 12px; }
#eventcal_wrapper input.bbc_b { margin: 2px 2px 0; padding: 2px; font-weight: bold; font-size: 12px; }
#eventcal_wrapper input.bbc_u { margin: 2px 2px 0; padding: 2px; text-decoration: underline; font-size: 12px; }
#eventcal_wrapper input.bbc_s { margin: 2px 2px 0; padding: 2px; font-style: italic; font-size: 12px; }

.eventcal_sidebar_month_title { margin: 0px; padding: 0; font-weight: 600; font-size: 1.17em; }
