#bayesNav {
    margin: 0;
    padding: 0;
}
#bayesNav a {
    display: block;
}
#bayesNav li:last-child a {
    padding-right: 0.3em;
}
#bayesNav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: 1px solid;
}
#bayesNav li {
    display: inline-block;
    margin: 0;
    padding: 0.5em;
    border-right: 1px solid;
}
#bayesNav h3 {
    display: inline;
    margin: 0;
    padding: 0;
    font-size: 1em;
}
#bayesContent {
    width: 100%;
}
#bayesControls * {
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
}

#bayesLearnTable {
    padding-top: 1em;
    margin-bottom: 0.8em;
}
#bayesLearnTable td {
    vertical-align: top;
}
#bayesControls {
    float: right;
    border: 1px solid;
    border-top: 0;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-right-radius: 5px;
    max-width: 21%;
    padding-top: 1em;
}
#bayesControls form {
    margin: 0;
}
#bayesDatabase {
    padding-top: 2em;
    margin-left: 2em;
}
#bayesSavedValues {
    padding-top: 2em;
}
#bayesDatabaseTable th {
    cursor: pointer;
    text-decoration: underline;
}
th {
    border: 1px solid;
}
caption {
    font-weight: bold;
}
#bayesSavedValuesTable td {
    text-align: center;
}
#bayesRecyclerTable {
    padding-top: 2em;
    width: 78%;
    table-layout: fixed;
    
}
#bayesRecyclerTable td {
    padding-top: 1em;
    overflow: auto;
}
#bayesRecyclerTable th.select {
    text-align: center;
    width: 2em;
}
#bayesRecyclerTable td.select {
    text-align: center;
}
.ratingBox {
    border-bottom: 1px solid grey;
}
.commentPart {
    margin-left: 5em;
}
.rating {
    margin-left: 5em;
    font-weight: bold;
}
.commentType {
    font-weight: bold;
}
.finalRating {
    padding-left: 3.3em;
    font-weight: bold;
    font-size: 1.5em;
    border-bottom: 1px solid grey;
}
#bayesAnalysisList li {
    margin: 1em;
}
label {
    cursor: pointer;
}
.serendipityIconLinkRight {
    float: right;
}
#bayesControls label {
    display: block;
}
input[type="submit"] {
    cursor: pointer;
}