
/*
    ******** Begin Guestbook Styles *********
    style_guestbook_backend.css - for v.3.53 2014-12-29 Ian
*/

#wrapGB .icon-ok:before{content:'\2714'}
#wrapGB .icon-error:before{content:'\26a0';}
#wrapGB .icon-cancel-circle:before{content:'\2716'}
#wrapGB .icon-attention:before{content:'\2757';}
#wrapGB .icon-attention:before{content:'!';font-weight:bold;} /* fake for chrome, since exclamation mark ! not supported as native \2757 */

#wrapGB .icon-attention:before, .icon-error:before {color:red;}
#wrapGB .icon-ok:before {color:green;}
#wrapGB .icon-clock:before {color:#fff;}
#wrapGB .icon-ok:before, .icon-error:before, .icon-attention:before {font-size:131%;}

#wrapGB .input-text input, #wrapGB .input-textarea textarea {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #AAAAAA;
    color: #888888;
    /* rounded corners */
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
    -khtml-border-radius: 4px 4px 4px 4px;
    -o-border-radius: 4px 4px 4px 4px;
    border-radius: 4px 4px 4px 4px; /* html5 standard */
    filter: progid:DXImageTransform.Microsoft.Shadow(color='#888888', Direction=145, Strength=2); /* IE Shadow setting */
    /* shadow settings */
    -webkit-box-shadow: 0 0 2px 2px #DDDDDD;
    -moz-box-shadow: 0 0 2px 2px #DDDDDD;
    -o-box-shadow: 0 0 2px 2px #DDDDDD;
    box-shadow: 0 0 2px 2px #DDDDDD; /* html5 standard */
}
#wrapGB .input-text label, #wrapGB .input-select label, #wrapGB .input-textarea label {
    display: block;
    font-weight: bold;
    margin: 10px 0 4px;
}

#wrapGB #guestbook_entrypaging {
    line-height: 1.6;
    margin: 20px 0;
    padding: 0;
    border: 0 none;
    text-align: center;
}

#wrapGB #guestbook_entrypaging a,
#wrapGB #guestbook_entrypaging a:hover {
    background: none repeat scroll 0 0 #FFFFFF;
    text-decoration: none;
}

#wrapGB .gb_button a,
#wrapGB .gb_paginator a { text-decoration: none; }
#wrapGB .input-buttons { margin: 1em 0; }

#wrapGB code { vertical-align: top; white-space: nowrap; }

#wrapGB .gb_validation {
    float: right;
    margin-left: 8px;
}
#wrapGB #entries_list > li {
    padding: 0;
}
#wrapGB #entries_list .entryhead {
    padding: 0px 0.4em;
    width: 99%;
}
#wrapGB .dbcnav ul,
#wrapGB .gbnav ul {
    padding: 3px 0 1px;
    margin-left: 0;
    display: block;
    border-style: solid;
    border-color: #BBB #DEDEDE;
    border-width: 1px;
}
#wrapGB .gbnav ul {
    background: #ddd;
    background-image: -webkit-linear-gradient(#fff, #ddd);
    background-image: linear-gradient(#fff, #ddd);
}
#wrapGB .dbcnav ul li,
#wrapGB .gbnav ul li {
    list-style: none;
    margin: 0;
    display: inline-flex;
}
#wrapGB .gbnav ul {
    padding: 5px 0\9; /* IE 9 hack */
}
#wrapGB .gbnav ul li {
    display: inline-block\9; /* IE 9 hack for inline-flex */
}

#wrapGB .dbcnav ul li a,
#wrapGB .gbnav ul li a {
    padding: 3px 0.5em;
    margin-left: 5px;
}
#wrapGB .gbnav ul li#active a {
    background: #dedede;
    background-image: -webkit-linear-gradient(#fff, #dedede);
    background-image: linear-gradient(#fff, #dedede);
    background-clip: padding-box;
    border: 1px solid #CACACA;
    /* rounded corners */
    -webkit-border-radius: 0.1em;
    -moz-border-radius: 0.1em;
    -o-border-radius: 0.1em;
    border-radius: 0.1em; /* html5 standard */
    /* shadow settings */
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3); /* html5 standard */
}
#wrapGB .dbcnav ul,
#wrapGB .gb_entryhead {
    background: #3e5f81;
    background-image: -webkit-linear-gradient(#3e5f81, #294564);
    background-image: linear-gradient(#3e5f81, #294564);
    /* shadow settings */
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.5);
    -moz-box-shadow: 0 1px 4px rgba(0,0,0,.5);
    -o-box-shadow: 0 1px 4px rgba(0,0,0,.5);
    box-shadow: 0 1px 4px rgba(0,0,0,.5);
    color: #ccdde7;
    text-shadow: 1px 1px 1px rgba(0,0,0,.8);
    padding: 0.2em 0.4em;
}
#wrapGB .dbcnav ul li a,
#wrapGB .gb_entryhead a {
    color: #ccdde7;
}
#wrapGB .gb_entrybody {
    padding: 0.2em 0.4em;
}
#wrapGB .gb_move {
    background: none repeat scroll 0 0 ButtonFace;
    margin: 0 4px;
    vertical-align: text-top;
}
#wrapGB .gb_msgred { color: red; }
#wrapGB .gb_msgred h3 { margin: 0 auto; }

#wrapGB div.gb_paginator { background-color: transparent; display: block; border: 0 none; height: 2em; }
#wrapGB span.gb_paginator_left { float: left; width: 36.5%; text-align: left; margin: 0 0 0 1.5em; color: #aaa !important; }/*normally 40%, but prev button name too long*/
#wrapGB span.gb_paginator_center { margin: 0 1.5em; width: 20%; text-align: center; font-weight: 700 !important; }
#wrapGB span.gb_paginator_right { float: right; width: auto; text-align: right; margin: 0 1.5em 0 0; color: #aaa !important; }

#wrapGB div.guestbook_backend_form {
    background-color: #E0E0E0; 
    border: 1px solid #333333; 
    padding: 8px;
}

#wrapGB span.guestbook_admin_comment {
    border: 1px solid #FF8247;
    display: block; 
    overflow:auto;
    margin: 10px 0 2px 40px; 
    padding: 4px;
    background: none repeat scroll 0 0 #EFEFEF;/*wheat;*/
    font-size:80% !important;
    font-style: italic; 
    /* rounded corners */
    -webkit-border-radius: 1em 1em 1em 1em;
    -moz-border-radius: 1em 1em 1em 1em;
    -o-border-radius: 1em 1em 1em 1em;
    border-radius: 1em 1em 1em 1em; /* html5 standard */
}
#wrapGB span.guestbook_admin_comment q{quotes:"\00AB" "\00BB"; }
#wrapGB .guestbook_admin_comment blockquote  p,
#wrapGB .guestbook_admin_comment blockquote p q {
    color: #055bc6; 
    text-align: left;
    /* font-style, font-variant, font-weight, font-size/line-height, font-family */
    font: italic normal 500 11px/16px 'arial', helvetica, sans-serif !important;
}
#wrapGB .guestbook_admin_comment blockquote p:first-child {
    background: url('{TEMPLATE_PATH}img/quote-start.gif') no-repeat scroll left top transparent !important;
    text-indent: 25px;
}
#wrapGB .guestbook_admin_comment blockquote,
#wrapGB .guestbook_admin_comment p {
    margin: 4px 2px !important;
    padding: 0 1em 0 0 !important;
    border: 0 !important;
    color: #055bc6;
    background: url('{TEMPLATE_PATH}img/quote-end.gif') no-repeat scroll right bottom transparent !important; 
}

#wrapGB input.bbc_i { clear: both; font-style: italic; font-size: 12px;}
#wrapGB input.bbc_b { font-weight: bold; font-size: 12px;}
#wrapGB input.bbc_u { text-decoration: underline; font-size: 12px;}
#wrapGB input.bbc_s { font-style: italic; font-size: 12px;}
#wrapGB input.bbc_q { font-style: italic; font-size: 12px;}

#wrapGB .guestbook_emailprotect {
    font-size: x-small;
}

#wrapGB .guestbook_errors {
    font-weight: 600;
    text-align: left;
    color: #800040;
}
#wrapGB label > span.icon-show:before {
    float: left;
    content: "\25BA"; /* U+25BA: BLACK RIGHT-POINTING POINTER - fallback */
    content: "►";
}
/* on Safari and Chrome  */
@media screen and (-webkit-min-device-pixel-ratio:0)
{
    #wrapGB label > span.icon-show:before {
        content: '\e828';
    }
}
#wrapGB label:active > span.icon-show:before,
#wrapGB label > span.icon-hide:before {
    content: "\25BC"; /* U+25BC: BLACK DOWN-POINTING TRIANGLE - fallback */
    content: '▼';
}
#wrapGB input#show, #wrapGB input#hide {
    display:none;
}
/******** End Guestbook Styles *********/
