/* style_guestbook_frontend.css - for v.3.53 - 2014-12-29 Ian */

/******** Begin Guestbook Styles *********/

.input-text input, .input-textarea textarea {
    filter: progid:DXImageTransform.Microsoft.Shadow(color='#888888', Direction=145, Strength=2); /* IE Shadow setting */
    /* shadow settings */
    -webkit-box-shadow: 0 0 2px 2px #DDDDDD;
    -moz-box-shadow: 0 0 2px 2px #DDDDDD;
    -o-box-shadow: 0 0 2px 2px #DDDDDD;
    box-shadow: 0 0 2px 2px #DDDDDD; /* html5 standard */
}

.input-text input, .input-textarea textarea, #search-term, #captcha {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #AAAAAA;
    color: #888888;
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
    -khtml-border-radius: 4px 4px 4px 4px;
    -o-border-radius: 4px 4px 4px 4px;
    border-radius: 4px 4px 4px 4px; /* html5 standard */
}
.input-text label, .input-select label, .input-textarea label {
    display: block;
    font-weight: bold;
    margin: 10px 0 4px;
}

.serendipity_guestbook  {
    margin: 0 none;
    padding: 0 none;
}

.serendipity_guestbook  h2.serendipity_title {
    padding-left: 0;
    text-align: center;
}

.serendipity_entry, 
.serendipity_entry_body {
    border-top: 0 none;
}

#guestbook_wrapper  { 
    margin: 0 none;
    padding: 0 none; 
}
br.clear { clear: both; }

#guestbook_wrapper .guestbook_intro { 
    padding: 4px;
    background-color: transparent;
    border: 1px solid #B20000;
    border: 1px solid hsl(360,100%,35%);
    text-align: justify;
    /* mozilla, chrome, safari, ie7+, opera round corners */
    border-color: hsl(360,100%,35%);
    -moz-border-radius: 8px 8px 8px 8px;
    -webkit-border-radius: 8px 8px 8px 8px;
    -khtml-border-radius: 8px 8px 8px 8px;
    -o-border-radius: 8px 8px 8px 8px;
    border-radius: 8px 8px 8px 8px; /* html5 standard */
}

#guestbook_entrypaging {
    line-height: 1.6;
    margin: 20px 0;
    padding: 0;
    border: 0 none;
    text-align: center;
}

#guestbook_entrypaging a,
#guestbook_entrypaging a:hover {
    background: none repeat scroll 0 0 #FFFFFF;
    text-decoration: none;
}

div.frontend_guestbook_paginator{}
span.frontend_guestbook_paginator_left { color: #BBB; } 
span.frontend_guestbook_paginator_center { }
span.frontend_guestbook_paginator_right { color: #BBB; } 

/* one guestbook entry wrapper */
#guestbook_entrybundle dl {
    margin: 0;
}

#guestbook_entrybundle { 
    margin: 0;
    overflow: hidden;
    padding: 0;
    background-color: #AAAAAA;
    border: 1px solid #BBBBBB;
    text-align: left;
    /* rounded corners */
    -webkit-border-radius: 0 0 7px 7px;
    -moz-border-radius: 0 0 7px 7px;
    -o-border-radius: 0 0 7px 7px;
    border-radius: 0 0 7px 7px; /* html5 standard */
}

.serendipity_commentDirection { 
    text-align:justify;
}

.guestbook_emailprotect { 
    font-size: x-small;
}

.captcha { 
    border: 1px solid #777;
}

/* the entry title mail date etc - depends on #guestbook_entrybundle */
#guestbook_wrapper .guestbook_entrytop { 
    margin-bottom: 5px;
    padding: 4px; 
    /* standard color #EEEEEE no gradient */
    background: rgb(238,238,238); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VlZWVlZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  rgba(238,238,238,1) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(238,238,238,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(238,238,238,1) 0%,rgba(255,255,255,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#ffffff',GradientType=0 ); /* IE6-8 */
}

.guestbook_entries {
    padding: 0;
    margin: 0; 
    border: 0 none;
    font: 500 11px/16px Verdana,Arial,Helvetica,sans-serif;
    text-align: left;
    width: 100%;
}

.guestbook_entrytop a,
.guestbook_entrytop a:link,
.guestbook_entrytop a:visited,
.guestbook_entrytop a:active,
.guestbook_entrytop a:focus { 
    font-family: Arial,Helvetica,sans-serif;
    font-size: 1em;
    font-weight: 600;
    text-decoration: none;
}

.guestbook_entrytop a:hover {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-weight: 700;
    color: #ADB4D9; 
}

.guestbook_admin { 
    text-align: right;
}

.guestbook_admintext { 
    text-align: right; 
    padding-right: 10px;
}

.guestbook_admintextdim { 
    color: #777; 
    text-decoration: none;
}

.guestbook_adminbutton { 
    text-align: right;
    vertical-align: top;
}
.guestbook_adminbutton  img { 
    width: 14px; 
    height: 14px; 
}

/* the entry value only - depends on #guestbook_entrybundle */
.guestbook_entrybottom { 
    background: none repeat scroll 0 0 #FDFDFD;
    border: 1px solid #DFDFDF;
    margin-bottom: 6px;
    padding: 4px;
    color: #333333;
    font: 500 11px/16px Verdana,Arial,Helvetica,sans-serif;
    text-align: left;
}

.guestbook_splitentries { 
    clear: both;
}

.guestbook_errorbundled { 
    padding-top: 30px;
    width: auto;
}

.guestbook_error_red { 
    color: #ff0000;
}

.guestbook_errors { 
    font-family: verdana,arial,helvetica,sans-serif;
    font-size: 11px;
    font-weight: 600;
    text-align: left;
    color: #800040;
}

.guestbook_questionaire { 
    line-height: 1.4em;
 }
 
 .guestbook_ripped { 
    line-height: 1.4em;
    font-weight: bold;
 }
 
.guestbook_popup { 
    text-align:center;
    padding-bottom: 10px;
}

/* reset empty comment info boxes */
#guestbook_wrapper .serendipity_commentDirection:empty {
    background-color: inherit;
    border: inherit;
    border-radius: inherit;
}
#guestbook_wrapper a:link.serendipityPrettyButton,
#guestbook_wrapper a:visited.serendipityPrettyButton,
#guestbook_wrapper a:hover.serendipityPrettyButton { 
    color: #1D2E3F;
    text-decoration: none;
}

#guestbook_wrapper .serendipityPrettyButton { 
    border: 1px outset #888888;
    color: #1D2E3F;
    font-size: 0.9em;
    font-weight: bold;
    margin: 2px;
    padding: 1px;
}

/* Special class if the button is a <a> tag */
#guestbook_wrapper a.serendipityPrettyButton { 
    cursor: pointer;
    padding: 2px 4px;
}

#guestbook_wrapper .serendipityPrettyButton {
    background: url('{TEMPLATE_PATH}img/button_background.png') repeat scroll 0 50% #80B0DA;
}
#guestbook_wrapper a.serendipityPrettyButton {
    background: url('{TEMPLATE_PATH}img/button_background.png') repeat-x scroll center top transparent;
}
/* admincomment */
#guestbook_wrapper span.guestbook_admin_comment {
    border: 1px solid #FF8247;
    display: block;
    overflow: auto;
    margin: 10px 0 2px 40px;
    padding: 4px;
    background: none repeat scroll 0 0 #EFEFEF;
    font-size:80% !important;
    font-style: italic;
    /* rounded corners */
    -webkit-border-radius: 1em 1em 1em 1em;
    -moz-border-radius: 1em 1em 1em 1em;
    -o-border-radius: 1em 1em 1em 1em;
    border-radius: 1em 1em 1em 1em; /* html5 standard */
}
/* reset other themes quoting styles */
#guestbook_wrapper blockquote p:last-child:after {
    content: inherit;
}
#guestbook_wrapper blockquote p:first-child:before {
    content: inherit;
}
#guestbook_wrapper span.guestbook_admin_comment q{quotes:"\00AB" "\00BB"; }
#guestbook_wrapper .guestbook_admin_comment blockquote  p,
#guestbook_wrapper .guestbook_admin_comment blockquote p q {
    color: #055bc6;
    text-align: left;
    /* font-style, font-variant, font-weight, font-size/line-height, font-family */
    font: italic normal 500 11px/16px 'arial', helvetica, sans-serif !important;
}
#guestbook_wrapper .guestbook_admin_comment blockquote p:first-child {
    background: url('{TEMPLATE_PATH}img/quote-start.gif') no-repeat scroll left top transparent !important;
    text-indent: 25px;
}
#guestbook_wrapper .guestbook_admin_comment blockquote,
#guestbook_wrapper .guestbook_admin_comment p {
    margin: 4px 2px !important;
    padding: 0 1em 0 0 !important;
    border: 0 !important;
    color: #055bc6;
    background: url('{TEMPLATE_PATH}img/quote-end.gif') no-repeat scroll right bottom transparent !important;
}

/******** End Guestbook Styles *********/
